html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #292929;
	font-family: 'Poppins', sans-serif;
	color: white;
}

p, h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

div {
	box-sizing: border-box;
}


/* TYPE STYLES */

.h1, .h2, .h3, .h5 {
	font-weight: 700;
}

.h1 {
	font-size: 60px;
	margin-bottom: 40px;
}

.h2 {
	font-size: 48px;
	margin-bottom: 40px;
}

.h3 {
	font-size: 32px;
	margin-bottom: 20px;
}

.h5 {
	font-size: 24px;
	letter-spacing: 1px;
}

p {
	font-size: 18px;
}

.subtext {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.small-quote {
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: 400;
}


/* GLOBAL */

a {
	text-decoration: none;
}

.page {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-top: 120px;
}

.button-primary {
	background-color: #FFD7AF;
	color: #292929;
	font-weight: 700;
	font-size: 24px;
	padding: 15px;
	text-decoration: none;
	border: none;
}

.button-primary:hover {
	background-color: #ffffff;
}

a.button-primary {
	display: inline-flex;
}

button.button-primary {
	font-family: 'Poppins', sans-serif;
}

.section {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: center;
}

.testimonial {
	width: 100%;
	background-color: #FFD7AF;
	color: #292929;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.testimonial-3 {
	background-color: #FFD7AF;
	color: #292929;
	padding-bottom: 20px;
}

.testimonial-quote {
	width: 80%;
}

.small-testimonial-quote {
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: 400;
	width: 80%;
}

.testimonial-header {
	margin-bottom: 20px;
}

.section-of-three {
	display: flex;
}

.portfolio-preview-wrapper {
	width: 33%;
	color: white;
}

.portfolio-preview {
	text-align: left;
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
}

.portfolio-preview:hover .h5{
	color: #FFD7AF;
}

.portfolio-preview:hover .preview-image {
	transform: scale(.98);
}

.preview-image {
	transition: transform 1s;
	width: 100%;
	height: 400px; 
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
}

.visually-hidden {
	display: none;
}


/* NAV STYLES */

.mobile-nav-container, .mobile-menu-open{
	display: none;
}

.nav-container { 
	z-index: 10;
	width: 100%;
	background-color: #313539;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10%;
	height: 120px;
}

.nav-link {
	font-weight: 700;
	color: white;
}

.nav-link:hover {
	color: #FFD7AF;
}

.active-nav-link {
	color: #FFD7AF;
}

.nav-logo {
	width: 110px;
}



/* FOOTER STYLES */

.footer {
	width: 100%;
	padding: 20px;
	display: flex;
}

.footer-left, .footer-right {
	display: flex;
	flex-direction: column;
}

.footer-right {
	position: absolute;
	right: 20px;
	text-align: right;
}

.footer-link {
	font-size: 16px;
	color: white;
	line-height: 2;
}

.footer-link:hover {
	color: #FFD7AF;
}

.footer-logo {
	width: 100px;
	opacity: .5;
	margin-right: 20px;
}

.footer-left-container {
	display: flex;
	flex-direction: row;
}



/* HOME PAGE STYLES */

.home-hero-image {
	padding: 10%;
	background-size: cover;
	background-position: center;
}

.home-about {
	padding-top: 60px;
	width: 60%;
}

.home-about-text {
	margin-bottom: 20px;
}

.yellow-circle {
	background-color:  #FFD7AF;
	border-radius: 100%;
	height: 20px;
	width: 20px;
	margin: 0 auto;
}

.home-work {
	background-color: #313539;
}

.icon-text-container {
	text-align: center;
	width: 33%;
	padding: 20px;
}

.icon-image {
	width: 50%;
}


/* ABOUT PAGE */
.testimonial-small-container {
	width: 100%;
	padding: 40px;
	text-align: left;
}

.above-line {
	height: 10px;
	width: 80px;
	background-color: #292929;
	border-radius: 5px;
	margin-bottom: 10px;
}

.space-above {
	margin-top: 20px;
}

.adjectives {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid white,
}

.adjective-word {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 800;
	display: inline-block;
}



/* PORTFOLIO PAGE */

.portfolio-preview-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}



/* PROJECT PAGE */

.next-link {
	color: #2b2b2b;
}

.large-image {
	background-size: cover;
	background-position: center;
	height: 500px;
}

.two-images {
	background-color: white;
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
	flex-wrap: wrap;
}

.half-image {
	background-size: cover;
	background-position: center;
	width: 44%;
	margin: 20px;
	height: 300px;
}

.next-project {
	width: 100%;
	background-color: white;
	color: #2b2b2b;
	text-align: center;
	padding: 20px;
}




@media only screen and (max-width: 768px) {

	.page {
		margin-top: 0px;
	}

	/* TYPE */

	.h1 {
		font-size: 40px;
	}

	.h2 {
		font-size: 32px;
	}

	/* NAV */

	.nav-container {
		display: none;
	}

	.mobile-nav-container {
		display: flex;
		height: 100px;
		background-color: #313539;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		z-index: 10;
	}

	.mobile-nav-logo {
		height: 80px;
	}

	.mobile-nav-logo, .mobile-nav-hamburger {
		cursor: pointer;
	}

	.mobile-menu-open {
		width: 100%;
		background-color: white;
		height: 100vh;
		z-index: 12;
		color: #2b2b2b;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
	}

	.open {
		display: flex;
	}


	.mobile-link {
		font-size: 24px;
		margin-bottom: 10px;
		color: #2b2b2b;
	}

	.mobile-menu-exit {
		position: fixed;
		top: 35px;
		right: 25px;
		color: #2b2b2b;
		font-size: 24px;
		cursor: pointer;
	}



	/* FOOTER */

	.footer {
		flex-direction: column;
	}

	.footer-left-container {
		flex-direction: column;
	}

	.footer-right {
		position: relative;
		right: 0;
	}

	.footer-left, .footer-right {
		width: 100%;
		text-align: center;
	}

	.footer-logo {
		width: 80px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 20px;
	}


	/* HOME */

	.home-about {
		width: 80%;
	}

	.section-of-three {
		flex-direction: column;
	}

	.portfolio-preview-wrapper {
		width: 100%;
	}

	.icon-text-container{
		width: 100%;
	}



	/* PROJECT PAGE */
	
	.half-image {
		width: 100%;
	}


}

