html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #292929;
	font-family: 'Poppins', sans-serif;
	color: white;
}

p, h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

div {
	box-sizing: border-box;
}



/* TYPE STYLES */

.h1 {
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 40px;
}

.h2 {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 40px;
}

.h3 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 20px;
}

.h5 {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1px;
}

p {
	font-size: 18px;
}

.subtext {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
}



/* GLOBAL */

a {
	text-decoration: none;
}

.page {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-top: 100px;
}

.button-primary {
	background-color: #FFD7AF;
	color: #292929;
	font-weight: 700;
	font-size: 24px;
	padding: 15px;
	text-decoration: none;
	border: none;
}

a.button-primary {
	display: inline-flex;
}

button.button-primary {
	font-family: 'Poppins', sans-serif;
}

.section {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: center;
}

.testimonial {
	width: 100%;
	background-color: #FFD7AF;
	color: #292929;
}

.testimonial-quote {
	text-align: left;
	width: 80%;
}

.section-of-three {
	display: flex;
}

.portfolio-preview-wrapper {
	width: 33%;
	color: white;
}

.portfolio-preview {
	text-align: left;
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
}

.portfolio-preview:hover .h5{
	color: #FFD7AF;
}

.portfolio-preview:hover .preview-image {
	transform: scale(.98);
}

.preview-image {
	transition: transform 1s;
	width: 100%;
	height: 400px; 
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
}



/* NAV STYLES */

.nav-container { 
	z-index: 10;
	width: 100%;
	background-color: #313539;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10%;
	height: 100px;
}

.nav-link {
	font-weight: 700;
	color: white;
}

.nav-link:hover {
	color: #FFD7AF;
}



/* FOOTER STYLES */

.footer {
	width: 100%;
	padding: 20px;
	display: flex;
}

.footer-left, .footer-right {
	display: flex;
	flex-direction: column;
}

.footer-right {
	position: absolute;
	right: 20px;
	text-align: right;
}

.footer-link {
	text-decoration: underline;
	font-size: 18px;
	color: white;
	line-height: 2;
}

.footer-link:hover {
	color: #FFD7AF;
}



/* HOME PAGE STYLES */

.home-hero {
	padding: 10%;
	background-size: cover;
	background-position: center;
}

.home-about {
	padding-top: 60px;
	width: 60%;
}

.home-about-text {
	margin-bottom: 20px;
}

.yellow-circle {
	background-color:  #FFD7AF;
	border-radius: 100%;
	height: 20px;
	width: 20px;
	margin: 0 auto;
}

.home-work {
	background-color: #313539;
}

.icon-text-container {
	text-align: center;
	width: 33%;
	padding: 20px;
}

.icon-image {
	width: 50%;
}



/* PORTFOLIO PAGE */

.portfolio-preview-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}